html {
    scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

body {
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Inter", sans-serif;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 26pt;
    transition: 200ms linear;
}

h2.in-view {
    animation: h2anim 1000ms ease-in;
}

@keyframes h2anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.baslik {
    position: absolute;
    background-color: transparent;
    background-size: cover;
    color: #fff;
    justify-content: space-between;
    height: 20vh;
}

.buton {
    position: absolute;
    margin-top: 25vh;
    width: 140px;
    height: 5vh;
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    transition: 200ms linear;
    transform: translate(-92%, -50%);
    z-index: 0;
}

.butonmobile {
    top: 40vh;
    left: 50%;
    width: 160px;
    height: 6vh;
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    transition: 200ms linear;
    transform: translate(-56%, -50%);
    z-index: 0;
    display: none;
}

.footer {
    background-color: rgb(113, 113, 113);
    background-image: url(images/makine.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 25vh;
}

.footermobile {
    background-color: rgb(113, 113, 113);
    background-image: url(images/makine.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: auto;
    padding: 10vw;
    display: none;
}

.footerelement {
    color: white;
    font-family: "Inter", sans-serif;
    text-align: left;
    margin-top: 2vh;
}

.footerelementmobile {
    color: white;
    font-family: "Inter", sans-serif;
    text-align: left;
    margin-top: 5vh;
}

.grid-container {
    max-width: 60%;
    max-height: 800px;
    margin-bottom: 20vh;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    color: white;
    text-align: center;
    user-select: none;
}

.grid-container img {
    width: 100%;
}

/**************************** İLETİŞİM ***********************************/
.show-popup {
    position: relative;
    top: 5vh;
    width: 120px;
    height: 6vh;
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    transition: 200ms linear;
    z-index: 0;
}

.show-popup:hover {
    background-color: #ffffff3e;
}

.popup-container {
    position: absolute;
    top: 0;
    left: 20vw;
    width: 35vw;
    height: 50vh;
    background: rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.251);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.popup-container.active {
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease;
}

.popup-container .popup-box {
    width: 100%;
    height: 100%;
    background-image: url(images/makine.jpg);
    background-color: rgb(113, 113, 113);
    background-blend-mode: multiply;
    border: 5px solid rgba(128, 119, 108, 0.329);
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 30px;
    transform: scale(0);
}

.popup-container.active .popup-box {
    transform: scale(1);
    transition: .4s ease;
    transition-delay: .25s;
}

.close-btn {
    position: relative;
    top: 0;
    margin-top: 6vh;
    width: 6vw;
    height: 5vh;
    background: #76767672;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
}

/**************************** İLETİŞİM END ***********************************/

.logo {
    position: absolute;
    top: 30vh;
    left: 25vh;
}

.logomobile {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15vh;
    left: 50%;
    display: none;
}

.logo img {
    width: 30vw;
    transition: 500ms linear;
}

.logomobile img {
    width: 65vw;
    transition: 500ms linear;
}

@keyframes logoanim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo.in-view {
    animation: logoanim 1000ms ease-in;
}

main {
    height: auto;
}

.baslik nav {
    position: absolute;
    left: 50vw;
    top: 10vh;
    transform: translate(-50%, -50%);
}

@keyframes navanim {
    from {
        top: 5vh;
        opacity: 0;
    }

    to {
        top: 10vh;
        opacity: 1;
    }
}

nav.in-view {
    animation: navanim 500ms ease;
}

.baslik nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}


.baslik nav ul li {
    width: 10vw;
    margin: 0 20px;
}


.baslik nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 200ms linear;
    user-select: none;
}

.baslik nav ul li a:hover {
    background-color: #83c1de2f;
    border-radius: 10px;
    padding: 10px;
}

.hizmeth1 {
    margin-top: 70vh;
    font-size: 26pt;
}

.hizmeth1.in-view {
    animation: hizmetanim 1000ms ease;
}

@keyframes hizmetanim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hizmeth1mobile {
    margin-top: 10vh;
    display: none;
}

/*************************SLİDER************************/
.slider-container {
    position: relative;
    margin-top: 50px;
    width: 70%;
    max-width: 80%;
    overflow: hidden;
}

.slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    width: calc(100% / 3);
    display: block;
    user-select: none;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 3;
}

button.prev {
    left: 0px;
}

button.next {
    right: 0px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/*************************SLİDER END*********************/

.mobileh2 {
    margin-top: 5vh;
    display: none;
    font-size: 18pt;
}

.maintext1mobile {
    position: relative;
    left: 5%;
    height: 30vh;
    width: 90vw;
    font-family: "Inter", sans-serif;
    font-size: 16pt;
    color: #282828;
    display: none;
}

.maintext2mobile {
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 14pt;
    color: #282828;
    display: none;
}

.prod1 {
    position: absolute;
    top: 110vh;
    left: 65vw;
}

.prod2 {
    position: absolute;
    top: 140vh;
    left: 45vw;
}

.prodmobile {
    position: relative;
    margin-top: 10vh;
    display: none;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.tablemobile {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    display: none;
}

td {
    width: 33.33%;
    text-align: center;
}

.tablemobile td {
    height: 33.33%;
    text-align: center;
}

.text {
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 15pt;
    color: #282828;
}

@keyframes textanim {
    from {
        left: 0vw;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.text.in-view {
    animation: textanim 300ms ease;
}

.welcome {
    justify-content: center;
    align-items: center;
    background-image: url(images/company.png);
    background-position: bottom;
    background-size: cover;
    transition: 1000ms linear;
    height: 100vh;
    width: auto;

}

.Welcomeheader {
    position: absolute;
    top: 32vh;
    left: 48vw;
    width: auto;
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: 400;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.27);
    color: #fff;
    text-indent: 50px;
    user-select: none;
}

.Welcomeheadermobile {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30vh;
    left: 50%;
    width: auto;
    font-family: "Inter", sans-serif;
    font-size: 18pt;
    font-weight: 400;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.27);
    text-align: center;
    color: #fff;
    user-select: none;
    display: none;
}

.welcomemessage {
    position: absolute;
    top: 40vh;
    left: 50vw;
    text-shadow:
        -1px -1px 0 #00000058,
        1px -1px 0 #00000058,
        -1px 1px 0 #00000058,
        1px 1px 0 #00000058;
    width: 40vw;
}

.welcomemessagemobile {
    position: absolute;
    top: 35vh;
    left: 10vw;
    text-shadow:
        -1px -1px 0 #00000058,
        1px -1px 0 #00000058,
        -1px 1px 0 #00000058,
        1px 1px 0 #00000058;
    width: 85vw;
    display: none;
}

.welcomemessage p {
    word-break: normal;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 1.1lvw;
    color: #fff;
}

.welcomemessagemobile p {
    word-break: normal;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 13pt;
    color: #fff;
}

@keyframes welhanim {
    from {
        left: 55vw;
        opacity: 0;
    }

    to {
        left: 48vw;
        opacity: 1;
    }
}

@keyframes welpanim {
    from {
        left: 70vw;
        opacity: 0;
    }

    to {
        left: 50vw;
        opacity: 1;
    }
}

.Welcomeheader.in-view {
    animation: welhanim 500ms ease;
}

.welcomemessage.in-view {
    animation: welpanim 500ms ease;
}


/****************************************** MOBİL ***********************************************/
@media only screen and (max-width: 768px) {
    .baslik {
        display: none;
    }

    .baslikmobile {
        display: block;
    }

    .buton {
        display: none;
    }

    .butonmobile {
        display: block;
    }

    .footer {
        display: none;
    }

    .footermobile {
        display: block;
    }

    .grid-container {
        max-width: 90%;
        max-height: 50vh;
        margin-bottom: 10vh;
        grid-template-columns: auto auto
    }

    h2 {
        display: none;
    }

    .hizmeth1 {
        display: none;
    }

    .hizmeth1mobile {
        display: block;
    }

    .logo {
        display: none;
    }

    .logomobile {
        display: block;
    }

    .maintext1mobile {
        display: block;
    }

    .maintext2mobile {
        display: block;
    }

    .mobileh2 {
        display: block;
    }

    .prod1 {
        display: none;
    }

    .prod2 {
        display: none;
    }

    .prodmobile {
        display: block;
    }

    .slider-container {
        width: 90%;
        height: 40vh;
    }

    .slider img {
        width: calc(100%);
    }

    .table {
        display: none;
    }

    .tablemobile {
        display: block;
    }

    .text {
        display: none;
    }

    .Welcomeheader {
        display: none;
    }

    .Welcomeheadermobile {
        display: block;
    }

    .welcomemessage {
        display: none;
    }

    .welcomemessagemobile {
        display: block;
    }
}