html {
    scroll-behavior: smooth;
}

body {
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: rgb(113, 113, 113);
    background-image: url(images/makine.jpg);
    background-position: center;
    background-blend-mode: multiply;
    height: 30vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    color: white;
    text-align: center;
    user-select: none;
}

.grid-container img {
    width: 100%;
}

header {
    position: absolute;
    background-color: transparent;
    background-size: cover;
    color: #fff;
    justify-content: space-between;
    height: 20vh;
}

.logo {
    position: absolute;
    top: 30vh;
    left: 25vh;
}

.logo img{
    width: 30vw;
}

.logo:hover {
    height: 15vh;
}

main {
    height: auto;
}

nav {
    position: absolute;
    left: 50vw;
    top: 10vh;
    transform: translate(-50%, -50%);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    width: 10vw;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 200ms linear;
    user-select: none;
}

nav ul li a:hover {
    background-color: #8dbec42f;
    border-radius: 5px;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
td {
    width: 33.33%;
    border: 1px solid white;
    text-align: center;
}

.text {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    color: #282828;
}

.welcome {
    justify-content: center;
    align-items: center;
    background-image: url(images/building.jpg);
    background-position: bottom;
    background-size: cover;
    transition: 1000ms linear;
    height: 100vh;
    width: auto;

}

.welcomecontact{
    
}

.Welcomeheader {
    position: absolute;
    top: 32vh;
    left: 48vw;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3lvw;
    font-weight: 100;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.53);
    color: #fff;
    text-indent: 50px;
    user-select: none;
}

.welcomemessage {
    position: absolute;
    top: 40vh;
    left: 50vw;
    text-shadow:
    -1px -1px 0 #000000cd,
    1px -1px 0 #000000cd,
    -1px 1px 0 #000000cd,
    1px 1px 0 #000000cd;
    width: 40vw;
}

.welcomemessage p {
    word-break: normal;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2lvw;
    color: #fff;
}

/*************************SLİDER************************/
.slider-container {
    position: relative;
    margin-top: 50px;
    width: 80%;
    max-width: 80%;
    overflow: hidden;
}

.slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    width: calc(100% / 3);
    display: block;
    user-select: none;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 3;
}

button.prev {
    left: 0px;
}

button.next {
    right: 0px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/*************************SLİDER END*********************/

@media (max-width: 768px) {}